@import "breakpoints";

.val-logo {
  width: 100%;
  max-width: 150px;
}

.masthead {
  .head-text {
    text-align: center !important;
    @media #{$md-max} {
      text-align: left !important;
    }
  }
}

#scorelist {
  .team-detail {
    color: white;
    padding: 6px 30px;
    .line {
      background-color: #222;
      font-size: 26px;
      padding: 6px 20px;
      margin: 5px 0;
      @media #{$md-max} {
        font-size: 20px;
      }
    }
  }
  margin-top: 30px;
  @media #{$md-max} {
    margin-top: 10px;
  }
  background: none;
  padding: 0;
  .score-item {
    cursor: pointer;
    background: #16a085;
    margin-top: 5px;
    padding: 15px 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    @media #{$md-max} {
      margin-left: 0px;
      margin-right: 0px;
    }
    .col-team-rank {
      span {
        //background-color: black;
        border: 2px solid white;
        border-radius: 8px;
        padding: 0px 10px;
      }
    }
    .col-team-score {
      span {
        background-color: black;
        border-radius: 8px;
        padding: 0px 10px;
      }
    }
    .col-team {
      overflow-x: hidden;
      h1 {
        margin: 0;
        padding: 4px 0;
      }
    }
    h1 {
      font-size: 24px !important;
      @media #{$md-min} {
        font-size: 36px !important;
      }
    }
    h2 {
      font-size: 24px !important;
      @media #{$md-min} {
        font-size: 36px !important;
      }
    }
  }
}